# Secret configuration which is not committed to git
# For all available parameters view https://hub.docker.com/_/redmine

# GitHub synchronisation (API KEY can be found under /settings?tab=repositories)
SYNC_API_KEY=xxxxxxxxxxxxxxx
SYNC_FOLDER=/var/local/redmine/github
SYNC_GITHUB_URL=https://api.github.com/orgs/eaudeweb/repos?per_page=100&page=%s
SYNC_REDMINE_URL=http://localhost:3000/sys/fetch_changesets?key=%s

# Label of the mysql container
REDMINE_DB_MYSQL=mysql

# Database settings
MYSQL_ROOT_PASSWORD=s3cr3t

MYSQL_DATABASE=redmine
REDMINE_DB_DATABASE=redmine

MYSQL_USER=redmine
REDMINE_DB_USERNAME=redmine

MYSQL_PASSWORD=secret
REDMINE_DB_PASSWORD=secret


# Inbound email settings
RECEIVE_IMAP_HOST=secure.emailsrvr.com
RECEIVE_IMAP_PORT=993
RECEIVE_IMAP_SSL=SSL
RECEIVE_IMAP_USERNAME=helpdesk@eaudeweb.ro
RECEIVE_IMAP_PASSWORD=askandrei
RECEIVE_IMAP_FOLDERS=INBOX
RECEIVE_IMAP_PROJECT=default_project

# Outbound email settings
SMTP_HOST=secure.emailsrvr.com
SMTP_PORT=465
SMTP_DOMAIN=helpdesk.eaudeweb.ro
SMTP_USERNAME=helpdesk@eaudeweb.ro
SMTP_PASSWORD=askandrei
