services:

  redmine:
    image: eaudeweb/redmine
    restart: unless-stopped
    volumes:
      - redmine-files:/usr/src/redmine/files
      - redmine-tmp:/usr/src/redmine/tmp
      - redmine-repositories:/var/local/redmine/repositories/:Z
      - redmine-backup:/var/local/redmine/backup/
      - redmine-logs:/usr/src/redmine/log/
      - redmine-imap-oauth:/usr/src/redmine/oauth/
    depends_on:
      - mysql
    environment:
      TZ: "${TZ}"
      REDMINE_PLUGINS_MIGRATE: "true"
    env_file:
      - .env

  mysql:
    image: mysql:8.4
    restart: unless-stopped
    volumes:
    - mysql-data:/var/lib/mysql
    - redmine-backup:/var/local/backup/
    environment:
      TZ: "${TZ}"
    env_file:
      - .env
    command:
    - "--character-set-server=utf8mb4"
    - "--collation-server=utf8mb4_unicode_ci"
    - "--innodb-buffer-pool-size=1G"
    - "--innodb-buffer-pool-instances=4"
    - "--net-read-timeout=7200"
    - "--net-write-timeout=7200"
    - "--max-allowed-packet=128M"
    - "--tmp-table-size=384M"
    - "--max-heap-table-size=384M"
    - "--join-buffer-size=256M"

  smtp:
    image: eeacms/postfix
    restart: unless-stopped
    hostname: helpdesk.eaudeweb.ro
    environment:
    - MTP_HOST=${MTP_HOST}
    - MTP_RELAY=${MTP_RELAY}
    - MTP_PORT=${MTP_PORT}
    - MTP_USER=${MTP_USER}
    - MTP_PASS=${MTP_PASS}
    - MTP_DESTINATION=${MTP_DESTINATION}

volumes:
  redmine-files:
  redmine-logs:
  redmine-backup:
  redmine-tmp:
  redmine-repositories:
  mysql-data:
  redmine-imap-oauth:
