*/2 * * * *  . /var/local/redmine/scripts/redmine_env.sh; /var/local/redmine/scripts/receive_imap.sh 2>>/usr/src/redmine/log/cron_run.log
*/15 * * * * . /var/local/redmine/scripts/redmine_env.sh; /var/local/redmine/scripts/update-repositories.sh 2>>/usr/src/redmine/log/cron_run.log
0 8 * * *    . /var/local/redmine/scripts/redmine_env.sh; /var/local/redmine/scripts/check_periodictasks.sh 2>>/usr/src/redmine/log/cron_run.log
0 9 * * 1-5  . /var/local/redmine/scripts/redmine_env.sh; /var/local/redmine/scripts/send_reminders.sh 2>>/usr/src/redmine/log/cron_run.log
